* {
    @include box-sizing(border-box);
}

html {
    font-family: $font-sans;
    font-size: 10px
}

body {
    font-size: 1.4rem;
}

.main-container {
    @include display-flex();
    @include align-items(stretch);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}