.dialogues-container {
    @include display-flex();
    @include justify-content(center);
    @include align-items(center);
    @include transition(all .25s ease-out);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(50, 50, 50, .9);

    &.show {
        opacity: 1;
        pointer-events: all;
    }

    section[class*='dialogue'] {
        display: none;
        width: 350px;
        background: #fff;
        box-shadow: 0px 2px 3px rgba(0,0,0,.15);
        padding: 30px;
        border: 1px solid #eee;
        &.show {
            display: block;
        }

        input {
            font-size: 1.6rem;
            padding: .3em .5em;
            margin-bottom: .5em;
            border: 1px solid #eee;
            width: 100%;
        }

        button {
            margin-top: 1em;
        }

        h2 {
            font-size: 1.6rem;
            margin-bottom: 1em;
            font-weight: bold;
        }

        textarea {
            @include appearance(none);
            width: 100%;
            height: 250px;
            border: 1px solid #eee;
        }
    }
}