/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../_sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../_sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../_sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../_sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../_sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../_sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../_sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 7, ../_sass/_main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 42, ../_sass/_main.scss */
html {
  width: 100%;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  padding: 0 8em;
}
@media only screen and (max-width: 768px) {
  /* line 42, ../_sass/_main.scss */
  html {
    padding: 0 6em;
  }
}
@media only screen and (max-width: 500px) {
  /* line 42, ../_sass/_main.scss */
  html {
    padding: 0 2em;
  }
}

/* line 55, ../_sass/_main.scss */
body {
  width: 100%;
  max-width: 850px;
  margin: 6em auto;
  font-size: 1.4rem;
  font-family: "Surveyor SSm A", "Surveyor SSm B", "Georgia", serif;
  font-weight: 300;
  color: #666666;
}
@media only screen and (max-width: 500px) {
  /* line 55, ../_sass/_main.scss */
  body {
    margin: 4em auto;
  }
}

/* line 68, ../_sass/_main.scss */
p {
  line-height: 1.6em;
  margin-bottom: 1.1em;
}
/* line 71, ../_sass/_main.scss */
p a {
  color: #d62427;
  text-decoration: none;
}

/* line 77, ../_sass/_main.scss */
.slideshow {
  -moz-transition: opacity 0.4s ease-out 0s;
  -o-transition: opacity 0.4s ease-out 0s;
  -webkit-transition: opacity 0.4s ease-out;
  -webkit-transition-delay: 0s;
  transition: opacity 0.4s ease-out 0s;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.96);
  opacity: 0;
  pointer-events: none;
}
/* line 92, ../_sass/_main.scss */
.slideshow .prev-button, .slideshow .next-button, .slideshow .close-button {
  -moz-backface-visibility: none;
  -webkit-backface-visibility: none;
  backface-visibility: none;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  z-index: 3;
  position: absolute;
  display: block;
  text-decoration: none;
  width: 30px;
  height: 30px;
  top: 5%;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  line-height: 28px;
  opacity: .3;
  background-color: #ddd;
}
/* line 108, ../_sass/_main.scss */
.slideshow .prev-button:before, .slideshow .next-button:before, .slideshow .close-button:before {
  color: #333;
  font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica", sans-serif;
}
/* line 112, ../_sass/_main.scss */
.slideshow .prev-button:hover, .slideshow .next-button:hover, .slideshow .close-button:hover {
  opacity: .6;
}
/* line 115, ../_sass/_main.scss */
.slideshow .prev-button:active, .slideshow .next-button:active, .slideshow .close-button:active {
  opacity: 1;
}
/* line 118, ../_sass/_main.scss */
.slideshow .prev-button.disabled, .slideshow .next-button.disabled, .slideshow .close-button.disabled {
  opacity: .15;
  cursor: default;
}
/* line 121, ../_sass/_main.scss */
.slideshow .prev-button.disabled:hover, .slideshow .prev-button.disabled:active, .slideshow .next-button.disabled:hover, .slideshow .next-button.disabled:active, .slideshow .close-button.disabled:hover, .slideshow .close-button.disabled:active {
  opacity: .15;
}
/* line 126, ../_sass/_main.scss */
.slideshow .close-button {
  background-color: #aaa;
  font-size: 1.4rem;
  right: 40px;
}
/* line 130, ../_sass/_main.scss */
.slideshow .close-button:before {
  content: 'x';
}
/* line 134, ../_sass/_main.scss */
.slideshow .prev-button {
  right: 135px;
}
/* line 136, ../_sass/_main.scss */
.slideshow .prev-button:before {
  content: "<";
}
/* line 141, ../_sass/_main.scss */
.slideshow .next-button {
  right: 100px;
}
/* line 143, ../_sass/_main.scss */
.slideshow .next-button:before {
  content: '>';
}
/* line 148, ../_sass/_main.scss */
.slideshow .slide-count {
  position: absolute;
  top: 5%;
  height: 30px;
  text-align: right;
  line-height: 28px;
  right: 180px;
  width: 100px;
  font-size: 1.2rem;
  font-family: "Surveyor SSm A", "Surveyor SSm B", "Georgia", serif;
}
/* line 160, ../_sass/_main.scss */
.slideshow figure {
  -moz-transition: -moz-transform 0s ease-in-out 0s;
  -o-transition: -o-transform 0s ease-in-out 0s;
  -webkit-transition: -webkit-transform 0s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: transform 0s ease-in-out 0s;
  -webkit-flex: 0 0 80%;
  flex: 0 0 80%;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin: 2em 10%;
}
/* line 166, ../_sass/_main.scss */
.slideshow figure:first-child {
  margin-left: 10%;
}
/* line 169, ../_sass/_main.scss */
.slideshow figure:last-child {
  margin-right: 10%;
}
/* line 172, ../_sass/_main.scss */
.slideshow figure img {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 2em;
  max-height: 400px;
  padding-right: calc(100%*.5/12);
}
/* line 182, ../_sass/_main.scss */
.slideshow figure figcaption {
  background-color: #eee;
  display: inline-block;
  padding: .5em .7em;
}
/* line 186, ../_sass/_main.scss */
.slideshow figure figcaption p {
  font-size: 1.2rem;
  line-height: 1.4em;
  font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica", sans-serif;
  margin-bottom: 0;
}

/* line 197, ../_sass/_main.scss */
.slideshow-mode .slideshow {
  opacity: 1;
  pointer-events: all;
}
/* line 200, ../_sass/_main.scss */
.slideshow-mode .slideshow figure {
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* line 5, ../_sass/inkling.scss */
body {
  font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica", sans-serif;
  font-size: 1.4rem;
  line-height: 1.2em;
  margin-top: 8em;
  color: #333;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (max-width: 500px) {
  /* line 5, ../_sass/inkling.scss */
  body {
    margin-top: 4em;
    font-size: 1.3rem;
  }
}

/* line 18, ../_sass/inkling.scss */
.main-header {
  margin-bottom: 6em;
}
/* line 20, ../_sass/inkling.scss */
.main-header img.logo {
  margin-top: 1em;
  display: block;
}

/* line 26, ../_sass/inkling.scss */
.description {
  margin-bottom: 6em;
}
/* line 33, ../_sass/_main.scss */
.description:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/* line 29, ../_sass/inkling.scss */
.description .teaser {
  width: 58.33333%;
  padding-right: 1em;
  float: left;
  font-size: 2.2rem;
  font-style: italic;
  margin-bottom: 2em;
}
@media only screen and (max-width: 768px) {
  /* line 29, ../_sass/inkling.scss */
  .description .teaser {
    width: 100%;
    padding-right: 0;
  }
}
@media only screen and (max-width: 768px) {
  /* line 29, ../_sass/inkling.scss */
  .description .teaser {
    font-size: 1.8rem;
  }
}
/* line 39, ../_sass/inkling.scss */
.description .roles {
  width: 33.33333%;
  padding-right: 1em;
  float: left;
}
@media only screen and (max-width: 768px) {
  /* line 39, ../_sass/inkling.scss */
  .description .roles {
    width: 100%;
    padding-right: 0;
  }
}
/* line 42, ../_sass/inkling.scss */
.description .roles li {
  margin-bottom: 1em;
}
/* line 44, ../_sass/inkling.scss */
.description .roles li p {
  margin-bottom: 0;
}

/* line 51, ../_sass/inkling.scss */
h2 {
  border-top: 1px solid #eee;
  font-weight: 300;
  color: #009b9d;
  font-size: 3.4rem;
  line-height: 1.2em;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding: 1.5em 0 1em 0;
}
@media only screen and (max-width: 768px) {
  /* line 51, ../_sass/inkling.scss */
  h2 {
    font-size: 2.8rem;
    padding: 1em 0 1em 0;
  }
}
/* line 64, ../_sass/inkling.scss */
h2.pinned-top {
  position: fixed;
  top: 0;
  display: inline-block;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

/* line 72, ../_sass/inkling.scss */
h3 {
  font-weight: 600;
  font-color: #111;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: .5em;
}

/* line 80, ../_sass/inkling.scss */
.detail {
  color: #888;
}

/* line 84, ../_sass/inkling.scss */
.media {
  width: 58.33333%;
  padding-right: 1em;
}
@media only screen and (max-width: 768px) {
  /* line 84, ../_sass/inkling.scss */
  .media {
    width: 100%;
    padding-right: 0;
  }
}
/* line 86, ../_sass/inkling.scss */
.media figure {
  margin-bottom: 1.5em;
}
/* line 88, ../_sass/inkling.scss */
.media figure img {
  width: auto;
  max-width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  margin-bottom: .3em;
}
/* line 94, ../_sass/inkling.scss */
.media figure figcaption {
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  pointer-events: none;
  opacity: 0;
  font-size: 1.2rem;
  color: #aaa;
  font-weight: 500;
  font-style: italic;
}
/* line 104, ../_sass/inkling.scss */
.media figure:hover figcaption {
  opacity: 1;
  pointer-events: all;
}
@media only screen and (max-width: 768px) {
  /* line 84, ../_sass/inkling.scss */
  .media {
    margin-top: 2em;
  }
}

/* line 115, ../_sass/inkling.scss */
.pinned-bottom {
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 123, ../_sass/inkling.scss */
.main-section {
  position: relative;
  margin: 0 0;
}
/* line 33, ../_sass/_main.scss */
.main-section:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
/* line 128, ../_sass/inkling.scss */
.main-section > p {
  width: 58.33333%;
  padding-right: 1em;
}
@media only screen and (max-width: 768px) {
  /* line 128, ../_sass/inkling.scss */
  .main-section > p {
    width: 100%;
    padding-right: 0;
  }
}
/* line 132, ../_sass/inkling.scss */
.main-section .sub-section {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 2.5em 0;
}
/* line 136, ../_sass/inkling.scss */
.main-section .sub-section .content {
  width: 33.33333%;
  padding-right: 1em;
  -webkit-order: 2;
  order: 2;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  /* line 136, ../_sass/inkling.scss */
  .main-section .sub-section .content {
    width: 100%;
    padding-right: 0;
  }
}
/* line 141, ../_sass/inkling.scss */
.main-section .sub-section .media {
  width: 58.33333%;
  padding-right: 1em;
  -webkit-order: 1;
  order: 1;
}
@media only screen and (max-width: 768px) {
  /* line 141, ../_sass/inkling.scss */
  .main-section .sub-section .media {
    width: 100%;
    padding-right: 0;
  }
}
@media only screen and (max-width: 768px) {
  /* line 132, ../_sass/inkling.scss */
  .main-section .sub-section {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  /* line 123, ../_sass/inkling.scss */
  .main-section {
    margin: 1.5em 0;
  }
}
/* line 155, ../_sass/inkling.scss */
.main-section.hidden {
  margin: 0;
  padding: 0;
}
/* line 158, ../_sass/inkling.scss */
.main-section.hidden h2 {
  border-top: none;
  margin: .5em 0;
  padding: 0;
}
/* line 163, ../_sass/inkling.scss */
.main-section.hidden p {
  display: none;
}
/* line 166, ../_sass/inkling.scss */
.main-section.hidden .sub-section {
  display: none;
}
