@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadeInFromBottom {
  from {
    opacity: 0;
    -webkit-transform: translate3D(0, 25px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3D(0, 0, 0); } }
@-moz-keyframes fadeInFromBottom {
  from {
    opacity: 0;
    -moz-transform: translate3D(0, 25px, 0); }
  to {
    opacity: 1;
    -moz-transform: translate3D(0, 0, 0); } }
@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    -webkit-transform: translate3D(0, 25px, 0);
    -moz-transform: translate3D(0, 25px, 0);
    -ms-transform: translate3D(0, 25px, 0);
    -o-transform: translate3D(0, 25px, 0);
    transform: translate3D(0, 25px, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3D(0, 0, 0);
    -moz-transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    -o-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0); } }
h1, .text--title {
  color: #3A3B3F;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 2.625rem;
  margin-bottom: 2.625rem; }
  @media screen and (min-width: 960px) {
    h1, .text--title {
      font-size: 2.625rem;
      line-height: 4.25rem;
      margin-bottom: 4.25rem; } }
  @media (prefers-color-scheme: dark) {
    h1, .text--title {
      color: #FCFCFD; } }
  h1 + .text--caption, .text--title + .text--caption {
    margin-top: -1.625rem; }
    @media screen and (min-width: 960px) {
      h1 + .text--caption, .text--title + .text--caption {
        margin-top: -2.625rem; } }

h2, .text--header {
  color: #3A3B3F;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 1.625rem; }
  @media screen and (min-width: 960px) {
    h2, .text--header {
      font-size: 1.625rem;
      line-height: 2.625rem;
      margin-bottom: 2.625rem; } }
  @media (prefers-color-scheme: dark) {
    h2, .text--header {
      color: #FCFCFD; } }

h3, .text--subheader {
  color: #3A3B3F;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 1.625rem;
  font-weight: 400; }
  @media screen and (min-width: 960px) {
    h3, .text--subheader {
      font-size: 1.625rem;
      line-height: 2.625rem;
      margin-bottom: 2.625rem; } }
  @media (prefers-color-scheme: dark) {
    h3, .text--subheader {
      color: #FCFCFD; } }

.text--caption {
  color: #71737A;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 1.625rem; }
  @media screen and (min-width: 960px) {
    .text--caption {
      font-size: 1.625rem;
      line-height: 2.625rem;
      margin-bottom: 2.625rem; } }
  @media (prefers-color-scheme: dark) {
    .text--caption {
      color: #CDD0DA; } }

p, .text--body {
  color: #3A3B3F;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 1.625rem; }
  @media screen and (min-width: 960px) {
    p, .text--body {
      font-size: 1.625rem;
      line-height: 2.625rem;
      margin-bottom: 2.625rem; } }
  @media (prefers-color-scheme: dark) {
    p, .text--body {
      color: #FCFCFD; } }

.text--small {
  color: #3A3B3F;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 1.625rem; }
  @media (prefers-color-scheme: dark) {
    .text--small {
      color: #FCFCFD; } }

.text--detail {
  color: #71737A;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.875em;
  line-height: 1.625rem;
  margin-bottom: 1.625rem; }
  @media screen and (min-width: 960px) {
    .text--detail {
      font-size: 1rem;
      line-height: 1.625rem; } }
  @media (prefers-color-scheme: dark) {
    .text--detail {
      color: #CDD0DA; } }

a, .link {
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(to right, #3A3B3F 100%, transparent 100%);
  background-position: 0 1.2em;
  background-repeat: repeat-x;
  background-size: 8px 1px; }
  a:hover, .link:hover {
    color: #003EFF;
    background-image: linear-gradient(to right, #003EFF 100%, transparent 100%); }
  @media (prefers-color-scheme: dark) {
    a, .link {
      background-image: linear-gradient(to right, #FCFCFD 100%, transparent 100%); }
      a:hover, .link:hover {
        color: #FFD30D;
        background-image: linear-gradient(to right, #FFD30D 100%, transparent 100%); } }

.link--bold {
  color: #003EFF;
  background-image: linear-gradient(to right, #003EFF 100%, transparent 100%); }
  .link--bold:after {
    content: '⤻';
    margin-left: .2em; }
  @media (prefers-color-scheme: dark) {
    .link--bold {
      color: #FFD30D;
      background-image: linear-gradient(to right, #FFD30D 100%, transparent 100%); } }

.link--icon {
  background-image: none; }
  .link--icon:after {
    color: #003EFF;
    content: '⤻';
    margin-left: .2em; }
  .link--icon:hover {
    background-image: none; }
  @media (prefers-color-scheme: dark) {
    .link--icon:after {
      color: #FFD30D;
      content: '⤻';
      margin-left: .2em; } }

.link--subtle {
  background-image: none; }
  .link--subtle:hover {
    color: inherit; }

.link--nav {
  color: #3A3B3F;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-bottom: 1.625rem;
  background-image: none;
  margin-right: 1rem; }
  @media (prefers-color-scheme: dark) {
    .link--nav {
      color: #FCFCFD; } }
  .link--nav:hover {
    color: inherit; }
  @media screen and (min-width: 760px) {
    .link--nav {
      margin-right: 1.625rem; } }

ul, ol {
  margin-bottom: 1.625rem;
  list-style-position: inside; }
  ul li, ol li {
    color: #3A3B3F;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
    margin-bottom: 1.625rem;
    margin-bottom: 0.625rem; }
    @media screen and (min-width: 960px) {
      ul li, ol li {
        font-size: 1.625rem;
        line-height: 2.625rem;
        margin-bottom: 2.625rem; } }
    @media (prefers-color-scheme: dark) {
      ul li, ol li {
        color: #FCFCFD; } }
  @media screen and (min-width: 960px) {
    ul, ol {
      margin-bottom: 2.625rem; }
      ul li, ol li {
        margin-bottom: 1rem; } }

ol {
  list-style: none;
  counter-reset: simple-number; }
  ol li {
    counter-increment: simple-number;
    text-indent: -.7em;
    margin-left: 1.4em; }
    ol li:before {
      content: counter(simple-number);
      display: inline-block;
      width: .7em; }

ul li {
  text-indent: -.7em;
  margin-left: 1.4em;
  list-style: none; }
  ul li:before {
    content: '—';
    display: inline-block;
    width: .7em;
    font-weight: 400; }

.spacing-below-0 {
  margin-bottom: 0; }

.spacing-below-4 {
  margin-bottom: 0.25rem; }

.spacing-below-6 {
  margin-bottom: 0.375rem; }

.spacing-below-10 {
  margin-bottom: 0.625rem; }

.spacing-below-16 {
  margin-bottom: 1rem; }

.spacing-below-26 {
  margin-bottom: 1.625rem; }

.spacing-below-42 {
  margin-bottom: 2.625rem; }

.spacing-below-68 {
  margin-bottom: 4.25rem; }

.spacing-below-110 {
  margin-bottom: 6.875rem; }

.spacing-below-178 {
  margin-bottom: 11.125rem; }

.spacing-above-4 {
  margin-top: 0.25rem; }

.spacing-above-6 {
  margin-top: 0.375rem; }

.spacing-above-10 {
  margin-top: 0.625rem; }

.spacing-above-16 {
  margin-top: 1rem; }

.spacing-above-26 {
  margin-top: 1.625rem; }

.spacing-above-42 {
  margin-top: 2.625rem; }

.spacing-above-68 {
  margin-top: 4.25rem; }

.spacing-above-110 {
  margin-top: 6.875rem; }

.spacing-above-178 {
  margin-top: 11.125rem; }

.row {
  max-width: 76.25rem;
  margin-left: auto;
  margin-right: auto; }
  .row::after {
    clear: both;
    content: "";
    display: table; }
  .row::after {
    clear: both;
    content: "";
    display: table; }

@media screen and (min-width: 760px) {
  .row__item--12 {
    float: left;
    display: block;
    margin-right: 1.6189290162%;
    width: 100%; }
    .row__item--12:last-child {
      margin-right: 0; } }

@media screen and (min-width: 760px) {
  .row__item--11 {
    float: left;
    display: block;
    margin-right: 1.6189290162%;
    width: 91.5317559153%; }
    .row__item--11:last-child {
      margin-right: 0; } }

@media screen and (min-width: 760px) {
  .row__item--10 {
    float: left;
    display: block;
    margin-right: 1.6189290162%;
    width: 83.0635118306%; }
    .row__item--10:last-child {
      margin-right: 0; } }

@media screen and (min-width: 760px) {
  .row__item--9 {
    float: left;
    display: block;
    margin-right: 1.6189290162%;
    width: 74.595267746%; }
    .row__item--9:last-child {
      margin-right: 0; } }

@media screen and (min-width: 760px) {
  .row__item--8 {
    float: left;
    display: block;
    margin-right: 1.6189290162%;
    width: 66.1270236613%; }
    .row__item--8:last-child {
      margin-right: 0; } }

@media screen and (min-width: 760px) {
  .row__item--7 {
    float: left;
    display: block;
    margin-right: 1.6189290162%;
    width: 57.6587795766%; }
    .row__item--7:last-child {
      margin-right: 0; } }

@media screen and (min-width: 760px) {
  .row__item--6 {
    float: left;
    display: block;
    margin-right: 1.6189290162%;
    width: 49.1905354919%; }
    .row__item--6:last-child {
      margin-right: 0; } }

@media screen and (min-width: 760px) {
  .row__item--5 {
    float: left;
    display: block;
    margin-right: 1.6189290162%;
    width: 40.7222914072%; }
    .row__item--5:last-child {
      margin-right: 0; } }

@media screen and (min-width: 760px) {
  .row__item--4 {
    float: left;
    display: block;
    margin-right: 1.6189290162%;
    width: 32.2540473225%; }
    .row__item--4:last-child {
      margin-right: 0; } }

@media screen and (min-width: 760px) {
  .row__item--3 {
    float: left;
    display: block;
    margin-right: 1.6189290162%;
    width: 23.7858032379%; }
    .row__item--3:last-child {
      margin-right: 0; } }

@media screen and (min-width: 760px) {
  .row__item--2 {
    float: left;
    display: block;
    margin-right: 1.6189290162%;
    width: 15.3175591532%; }
    .row__item--2:last-child {
      margin-right: 0; } }

@media screen and (min-width: 760px) {
  .row__item--1 {
    float: left;
    display: block;
    margin-right: 1.6189290162%;
    width: 6.8493150685%; }
    .row__item--1:last-child {
      margin-right: 0; } }

@media screen and (min-width: 760px) {
  .row__shift--12 {
    margin-left: 101.6189290162%; } }

@media screen and (min-width: 760px) {
  .row__shift--11 {
    margin-left: 93.1506849315%; } }

@media screen and (min-width: 760px) {
  .row__shift--10 {
    margin-left: 84.6824408468%; } }

@media screen and (min-width: 760px) {
  .row__shift--9 {
    margin-left: 76.2141967621%; } }

@media screen and (min-width: 760px) {
  .row__shift--8 {
    margin-left: 67.7459526775%; } }

@media screen and (min-width: 760px) {
  .row__shift--7 {
    margin-left: 59.2777085928%; } }

@media screen and (min-width: 760px) {
  .row__shift--6 {
    margin-left: 50.8094645081%; } }

@media screen and (min-width: 760px) {
  .row__shift--5 {
    margin-left: 42.3412204234%; } }

@media screen and (min-width: 760px) {
  .row__shift--4 {
    margin-left: 33.8729763387%; } }

@media screen and (min-width: 760px) {
  .row__shift--3 {
    margin-left: 25.404732254%; } }

@media screen and (min-width: 760px) {
  .row__shift--2 {
    margin-left: 16.9364881694%; } }

@media screen and (min-width: 760px) {
  .row__shift--1 {
    margin-left: 8.4682440847%; } }

@media screen and (min-width: 760px) {
  .row__item--omega {
    margin-right: 0; } }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 100%; }

body {
  margin: 0 auto;
  padding: 0;
  color: #3A3B3F;
  background-color: #FCFCFD;
  -webkit-font-smoothing: antialiased; }
  @media (prefers-color-scheme: dark) {
    body {
      color: #FCFCFD;
      background-color: #1D1D1E; } }

article {
  max-width: 76.25rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.625rem; }
  article::before, article::after {
    content: "";
    display: table; }
  article::after {
    clear: both; }
  @media screen and (min-width: 960px) {
    article {
      padding-left: 2.625rem;
      padding-right: 2.625rem; } }
  article::before, article::after {
    content: "";
    display: table; }
  article::after {
    clear: both; }

.hero {
  margin-bottom: 4.25rem; }
  @media screen and (min-width: 960px) {
    .hero {
      margin-bottom: 11.125rem; } }

.site-header {
  max-width: 76.25rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.625rem;
  margin-top: 1.625rem;
  margin-bottom: 4.25rem; }
  .site-header::before, .site-header::after {
    content: "";
    display: table; }
  .site-header::after {
    clear: both; }
  @media screen and (min-width: 960px) {
    .site-header {
      padding-left: 2.625rem;
      padding-right: 2.625rem; } }
  .site-header::before, .site-header::after {
    content: "";
    display: table; }
  .site-header::after {
    clear: both; }
  @media screen and (min-width: 960px) {
    .site-header {
      margin-top: 4.25rem;
      margin-bottom: 11.125rem; } }

.site-header__title {
  display: inline-block;
  margin-bottom: 1rem; }
  @media screen and (min-width: 1200px) {
    .site-header__title {
      float: left;
      display: block;
      margin-right: 1.6189290162%;
      width: 66.1270236613%; }
      .site-header__title:last-child {
        margin-right: 0; } }
  .site-header__title a {
    color: #3A3B3F;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
    margin-bottom: 1.625rem;
    font-weight: 700;
    background-image: none;
    margin-right: 1rem;
    padding-left: 0; }
    @media (prefers-color-scheme: dark) {
      .site-header__title a {
        color: #FCFCFD; } }
    @media screen and (min-width: 960px) {
      .site-header__title a {
        margin-right: 1.625rem;
        padding-left: 4.25rem;
        position: relative; } }
    .site-header__title a::before {
      display: block;
      width: 34px;
      height: 48px;
      content: '';
      background-image: url("/img/nh_logo.png");
      background-repeat: no-repeat;
      background-size: 100% auto;
      margin-bottom: 1rem; }
      @media screen and (min-width: 960px) {
        .site-header__title a::before {
          position: absolute;
          top: -0.625rem;
          left: 0px;
          margin-bottom: 0; } }

.site-header__links {
  display: inline-block; }
  @media screen and (min-width: 1200px) {
    .site-header__links {
      float: left;
      display: block;
      margin-right: 1.6189290162%;
      width: 32.2540473225%; }
      .site-header__links:last-child {
        margin-right: 0; } }

.site-footer {
  max-width: 76.25rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.625rem;
  padding-bottom: 1.625rem;
  margin-top: 4.25rem; }
  .site-footer::before, .site-footer::after {
    content: "";
    display: table; }
  .site-footer::after {
    clear: both; }
  @media screen and (min-width: 960px) {
    .site-footer {
      padding-left: 2.625rem;
      padding-right: 2.625rem; } }
  .site-footer::before, .site-footer::after {
    content: "";
    display: table; }
  .site-footer::after {
    clear: both; }
  @media screen and (min-width: 960px) {
    .site-footer {
      margin-bottom: 4.25rem;
      margin-top: 11.125rem; } }
  .site-footer .site-footer__colophon {
    float: left;
    display: block;
    margin-right: 1.6189290162%;
    width: 100%; }
    .site-footer .site-footer__colophon:last-child {
      margin-right: 0; }
    .site-footer .site-footer__colophon p {
      color: #71737A;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 0.875em;
      line-height: 1.625rem;
      margin-bottom: 1.625rem;
      margin-bottom: 1rem; }
      @media screen and (min-width: 960px) {
        .site-footer .site-footer__colophon p {
          font-size: 1rem;
          line-height: 1.625rem; } }
      @media (prefers-color-scheme: dark) {
        .site-footer .site-footer__colophon p {
          color: #CDD0DA; } }
    @media screen and (min-width: 960px) {
      .site-footer .site-footer__colophon {
        float: left;
        display: block;
        margin-right: 1.6189290162%;
        width: 49.1905354919%; }
        .site-footer .site-footer__colophon:last-child {
          margin-right: 0; } }
  .site-footer .site-footer__links {
    margin-bottom: 1rem; }
    @media screen and (min-width: 960px) {
      .site-footer .site-footer__links {
        float: left;
        display: block;
        margin-right: 1.6189290162%;
        width: 32.2540473225%;
        margin-left: 16.9364881694%; }
        .site-footer .site-footer__links:last-child {
          margin-right: 0; } }

.home__hero p {
  font-weight: 400;
  margin-bottom: 0; }

.home__links {
  margin-top: 0.375rem; }
  .home__links li {
    color: #71737A;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 0.875em;
    line-height: 1.625rem;
    margin-bottom: 1.625rem;
    margin-bottom: 0.625rem; }
    @media screen and (min-width: 960px) {
      .home__links li {
        font-size: 1rem;
        line-height: 1.625rem; } }
    @media (prefers-color-scheme: dark) {
      .home__links li {
        color: #CDD0DA; } }
    .home__links li a {
      background-image: none; }
      .home__links li a:after {
        color: #003EFF;
        content: '⤻';
        margin-left: .2em; }
      .home__links li a:hover {
        background-image: none; }
      @media (prefers-color-scheme: dark) {
        .home__links li a:after {
          color: #FFD30D;
          content: '⤻';
          margin-left: .2em; } }

.project {
  padding-top: 4.25rem;
  border-top: 1px solid #CDD0DA;
  margin-bottom: 4.25rem; }
  .project::before, .project::after {
    content: "";
    display: table; }
  .project::after {
    clear: both; }
  @media screen and (min-width: 960px) {
    .project {
      margin-bottom: 4.25rem; } }
  .project:first-of-type {
    padding-top: 0;
    border: 0; }
  @media (prefers-color-scheme: dark) {
    .project {
      border-top: 1px solid #3A3B3F; } }

.project__header {
  margin-bottom: 1.625rem; }
  @media screen and (min-width: 960px) {
    .project__header {
      margin-bottom: 4.25rem; } }
  .project__header h2 {
    margin-bottom: 0; }

.project__image {
  margin-bottom: 1.625rem; }
  .project__image img {
    max-width: 100%; }

.writing__entry {
  margin-bottom: 4.25rem; }

.book {
  display: block;
  background-image: none;
  margin-bottom: 4.25rem; }
  @media screen and (min-width: 960px) {
    .book {
      margin-bottom: 11.125rem; } }
  .book:hover {
    background-image: none; }

.book p {
  display: none; }

.book__cover {
  text-align: center; }
  .book__cover img {
    max-width: 100%;
    width: 11.125rem;
    box-shadow: -32px 32px 10px rgba(0, 0, 0, 0.15); }
    @media screen and (min-width: 960px) {
      .book__cover img {
        width: 18rem; } }

.post {
  padding: 0 1.625rem;
  max-width: 76.25rem;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 960px) {
    .post {
      padding-left: 2.625rem;
      padding-right: 2.625rem; } }
  .post::before, .post::after {
    content: "";
    display: table; }
  .post::after {
    clear: both; }
  .post::before, .post::after {
    content: "";
    display: table; }
  .post::after {
    clear: both; }
  @media screen and (min-width: 960px) {
    .post .hero, .post .post__content {
      float: left;
      display: block;
      margin-right: 1.6189290162%;
      width: 66.1270236613%;
      margin-left: 16.9364881694%; }
      .post .hero:last-child, .post .post__content:last-child {
        margin-right: 0; } }
  .post h2 {
    margin-top: 4.25rem; }
    @media screen and (min-width: 960px) {
      .post h2 {
        margin-top: 6.875rem; } }
  .post .quote {
    margin: 6.875rem 1rem;
    text-align: center; }
    @media screen and (min-width: 960px) {
      .post .quote {
        margin: 11.125rem 2.625rem; } }
    .post .quote blockquote p {
      color: #3A3B3F;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 1.625rem;
      line-height: 2.625rem;
      margin-bottom: 2.625rem;
      font-style: italic; }
      @media screen and (min-width: 960px) {
        .post .quote blockquote p {
          font-size: 2.625rem;
          line-height: 4.25rem;
          margin-bottom: 4.25rem; } }
      @media (prefers-color-scheme: dark) {
        .post .quote blockquote p {
          color: #FCFCFD; } }
    .post .quote blockquote + .text--detail {
      margin-top: -1.625rem;
      margin-bottom: 1.625rem; }
      @media screen and (min-width: 960px) {
        .post .quote blockquote + .text--detail {
          margin-top: -2.625rem;
          margin-bottom: 2.625rem; } }
  .post figure {
    float: left;
    display: block;
    margin-right: 1.6189290162%;
    width: 100%;
    margin-left: 0%;
    text-align: center;
    margin-top: 2.625rem;
    margin-bottom: 2.625rem; }
    .post figure:last-child {
      margin-right: 0; }
    .post figure:first-child {
      margin-top: 0; }
    .post figure img, .post figure video {
      max-width: 100%;
      margin: 0 auto; }
    .post figure video {
      max-height: 480px;
      margin-bottom: 20px; }
    @media screen and (min-width: 960px) {
      .post figure {
        float: left;
        display: block;
        margin-right: 2.4482109228%;
        width: 125.6120527307%;
        margin-left: -12.8060263653%;
        position: relative;
        margin-top: 4.25rem;
        margin-bottom: 4.25rem; }
        .post figure:last-child {
          margin-right: 0; }
        .post figure::before, .post figure::after {
          content: "";
          display: table; }
        .post figure::after {
          clear: both; }
        .post figure:first-child {
          margin-top: 0; } }
    .post figure figcaption {
      float: left;
      display: block;
      margin-right: 1.6189290162%;
      width: 100%;
      margin-left: 0%;
      margin-top: 0.625rem; }
      .post figure figcaption:last-child {
        margin-right: 0; }
      @media screen and (min-width: 960px) {
        .post figure figcaption {
          float: left;
          display: block;
          margin-right: 1.9490254873%;
          width: 59.2203898051%;
          margin-left: 20.3898050975%;
          margin-top: 1rem; }
          .post figure figcaption:last-child {
            margin-right: 0; } }
    .post figure figcaption p {
      color: #71737A;
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 0.875em;
      line-height: 1.625rem;
      margin-bottom: 1.625rem; }
      @media screen and (min-width: 960px) {
        .post figure figcaption p {
          font-size: 1rem;
          line-height: 1.625rem; } }
      @media (prefers-color-scheme: dark) {
        .post figure figcaption p {
          color: #CDD0DA; } }

.post__content::before, .post__content::after {
  content: "";
  display: table; }
.post__content::after {
  clear: both; }
