@import 'main';

$color-pct-blue: #008184;

body {
    font-size: 1.4em;
}

header {
    margin: 10em 0 6em 0;
    clear: both;
    @include respond-mobile {
        margin: 6em 0 3em 0;
    }
    .logo {
        float: right;
        width: 50px;
        margin-top: .7em;
        @include respond-tablet {
            display: none;
        }
    }
    h1 {
        color: #111;
        font-family: $font-surveyor;
        font-weight: 500;
        font-size: 3.4rem;
        line-height: 1.3em;
        text-transform: uppercase;
        .subtitle {
            font-weight: 300;
            font-size: 1.4rem;
            line-height: 1.3em;
            display: block;
            text-transform: none;
            color: #999;
            margin-bottom: .5em;
        }

        @include respond-mobile {
            font-size: 2.8rem;
        }
    }
}

.intro {
    @include display-flex();
    @include justify-content(space-between);

    font-size: 1.3rem;
    margin-bottom: 6em;

    @include respond-tablet {
        display: block;
        font-size: 1.4rem;
    }

    .meta {
        @include colspan(3);
        margin-bottom: 4em;
        color:  $color-pct-blue;
        font-family: $font-whitney;
        font-weight: 300;
        em {
            font-weight: 600;
        }
    }
    .teaser {
        @include colspan(8);
        @include columns(2);
        @include column-gap(1.5em);
        font-style: italic;

        @include respond-tablet {
            @include columns(1);
        }

    }
}

.chapter-heading {
    margin-bottom: 6em;
    margin-top: 2em;
    border-bottom: 1px solid #555;
    clear: both;
    h1 {
        position: relative;
        top: 1.5em;
        display: inline-block;
        background-color: #fff;
        padding: 0 1em 1em 0;
        font-weight: 500;
        font-size: 2.4rem;
        text-transform: uppercase;
        color: #111;
    }

    @include respond-tablet {
        margin-bottom: 3em;

        h1 {
            display: block;
            position: static;
        }
    }
}

.passage {

    padding-bottom: 4em;
    clear: both;

    > p {
        font-size: 1.5rem;
    }

    .media {
        margin-top: 2em;
        margin-bottom: 2em;

        figure {
            &:not(:first-of-type) {
                margin-top: 2em;
            }
            img {
                display: block;
                max-width: 100%;
                margin: 0 auto;
                margin-bottom: 1em;
            }

            figcaption {
                margin-top: .5em;
                padding-top: .5em;
                font-size: 1rem;
                position: relative;
                line-height: 1.8em;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-family: $font-whitney;
                color: $color-pct-blue;
                font-weight: 400;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    display: block;
                    width: 50px;
                    border-top: 1px solid #ddd;
                }
            }
        }

    }
    .width-one-fourth {
        width: calc(100%*3/12);
        padding-right: 2em;
    }
    .width-three-fourths {
        width: calc(100%*9/12);
        padding-right: 2em;
    }
    .width-one-third {
        width: calc(100%*4/12);
        padding-right: 2em;
    }
    .width-two-thirds {
        width: calc(100%*8/12);
        padding-right: 2em;
    }
    .width-one-half {
        width: calc(100%*6/12);
        padding-right: 2em;
    }
    .width-one-whole {
        width: 100%;
        padding-right: 2em;
    }

    .float-left {
        float: left;
    }
    .float-right {
        float: right;
    }
    > p {
        margin-left: calc(100%*4/12);
    }

    .float-left.width-one-third, .float-left.width-one-fourth {
        margin-top: .5em;
    }

    @include respond-tablet {
        p {
           margin-left: 0; 
        }
        
        .width-one-fourth, .width-one-third, .width-one-half, .width-two-thirds, .width-three-fourths, .width-one-whole {
            width: 100%;
            padding-right: 0;
        }
        .float-left, .float-right {
            float: none;
        }
    }
}

.img_pct_full_route {
    width: 130px;
}

.img_socal_charts {
    width: 240px;
}