/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/_core.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../sass/_core.scss */
html {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 10px;
}

/* line 10, ../sass/_core.scss */
body {
  font-size: 1.4rem;
}

/* line 14, ../sass/_core.scss */
.main-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 1, ../sass/_sidebar-view.scss */
.view-sidebar {
  -webkit-flex: 0 0 250px;
  flex: 0 0 250px;
  padding: 40px 20px;
}
/* line 5, ../sass/_sidebar-view.scss */
.view-sidebar h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2em;
  font-weight: 200;
  font-size: 1.8rem;
}
/* line 13, ../sass/_sidebar-view.scss */
.view-sidebar .button-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 2em 0;
}
/* line 17, ../sass/_sidebar-view.scss */
.view-sidebar .button-container div[class*='button'] {
  -webkit-flex: 0 0 60px;
  flex: 0 0 60px;
  text-align: center;
  border: 1px solid #eee;
  background-color: #fafafa;
  color: #888;
  font-size: 1rem;
  text-transform: uppercase;
  padding: .5em .7rem;
  border-radius: 2px;
}
/* line 27, ../sass/_sidebar-view.scss */
.view-sidebar .button-container div[class*='button']:hover {
  background-color: #eee;
  color: #555;
}
/* line 34, ../sass/_sidebar-view.scss */
.view-sidebar .list__contact {
  margin: 2em 0;
}
/* line 36, ../sass/_sidebar-view.scss */
.view-sidebar .list__contact li {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  height: 35px;
  padding: .5em .5em;
  color: #555;
}
/* line 45, ../sass/_sidebar-view.scss */
.view-sidebar .list__contact li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
/* line 49, ../sass/_sidebar-view.scss */
.view-sidebar .list__contact li .button__remove-contact {
  display: none;
  height: 20px;
  width: 20px;
  color: #eee;
  background-color: #888;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  padding: 0 .5em;
  text-transform: uppercase;
}
/* line 60, ../sass/_sidebar-view.scss */
.view-sidebar .list__contact li .button__remove-contact:before {
  content: 'x';
  font-size: .6rem;
  line-height: 20px;
}
/* line 65, ../sass/_sidebar-view.scss */
.view-sidebar .list__contact li .button__remove-contact:hover {
  background-color: #ccc;
}
/* line 70, ../sass/_sidebar-view.scss */
.view-sidebar .list__contact li:hover {
  background-color: #fafafa;
}
/* line 72, ../sass/_sidebar-view.scss */
.view-sidebar .list__contact li:hover .button__remove-contact {
  display: inline-block;
}

/* line 1, ../sass/_contact-view.scss */
.view-contact {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  font-family: "Georgia", serif;
  padding: 40px 20px;
  border-left: 1px solid #eee;
  text-align: center;
  min-width: 300px;
}
/* line 8, ../sass/_contact-view.scss */
.view-contact h2 {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 1em;
}
/* line 13, ../sass/_contact-view.scss */
.view-contact .phone-number {
  font-size: 1.8rem;
}

/* line 1, ../sass/_debug-view.scss */
.view-debug {
  -webkit-flex: 0 0 250px;
  flex: 0 0 250px;
  border-left: 1px solid #eee;
  padding: 40px 20px;
  overflow: auto;
}
/* line 6, ../sass/_debug-view.scss */
.view-debug p {
  font-family: "Courier New", "Courier", sans-serif;
  font-size: 1.2rem;
  margin-bottom: .5em;
  color: red;
}

/* line 1, ../sass/_dialogues.scss */
.dialogues-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(50, 50, 50, 0.9);
}
/* line 15, ../sass/_dialogues.scss */
.dialogues-container.show {
  opacity: 1;
  pointer-events: all;
}
/* line 20, ../sass/_dialogues.scss */
.dialogues-container section[class*='dialogue'] {
  display: none;
  width: 350px;
  background: #fff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  padding: 30px;
  border: 1px solid #eee;
}
/* line 27, ../sass/_dialogues.scss */
.dialogues-container section[class*='dialogue'].show {
  display: block;
}
/* line 31, ../sass/_dialogues.scss */
.dialogues-container section[class*='dialogue'] input {
  font-size: 1.6rem;
  padding: .3em .5em;
  margin-bottom: .5em;
  border: 1px solid #eee;
  width: 100%;
}
/* line 39, ../sass/_dialogues.scss */
.dialogues-container section[class*='dialogue'] button {
  margin-top: 1em;
}
/* line 43, ../sass/_dialogues.scss */
.dialogues-container section[class*='dialogue'] h2 {
  font-size: 1.6rem;
  margin-bottom: 1em;
  font-weight: bold;
}
/* line 49, ../sass/_dialogues.scss */
.dialogues-container section[class*='dialogue'] textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 250px;
  border: 1px solid #eee;
}
