@import 'main';

$color-teal: #009b9d;

body {
    font-family: $font-whitney;
    font-size: 1.4rem;
    line-height: 1.2em;
    margin-top: 8em;
    color: #333;
    margin-bottom: 2000px;
    @include respond-mobile {
        margin-top: 4em;
        font-size: 1.3rem;
    }
    -webkit-font-smoothing: antialiased;
}

.main-header {
    margin-bottom: 6em;
    img.logo {
        margin-top: 1em;
        display: block;
    }
}

.description {
    margin-bottom: 6em;
    @include clearfix;
    .teaser {
        @include colspan(7);
        float: left;
        font-size: 2.2rem;
        font-style: italic;
        margin-bottom: 2em;
        @include respond-tablet {
            font-size: 1.8rem;
        }
    }
    .roles {
        @include colspan(4);
        float: left;
        li {
            margin-bottom: 1em;
            p {
                margin-bottom: 0;
            }
        }
    }
}

h2 {
    border-top: 1px solid #eee;
    font-weight: 300;
    color: $color-teal;
    font-size: 3.4rem;
    line-height: 1.2em;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: 1.5em 0 1em 0;
    @include respond-tablet {
        font-size: 2.8rem;
        padding: 1em 0 1em 0;
    }
    &.pinned-top {
        position: fixed;
        top: 0;
        display: inline-block;
        background: #fff;
        box-shadow: 0 0 2px rgba(0,0,0,.1);
    }
}
h3 {
    font-weight: 600;
    font-color: #111;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: .5em;
}

.detail {
    color: #888;
}

.media {
    @include colspan(7);
    figure {
        margin-bottom: 1.5em;
        img {
            width: auto;
            max-width: 100%;
            box-shadow: 0 0 3px rgba(0,0,0, .25);
            margin-bottom: .3em;
        }
        figcaption {
            @include transition(opacity .2s ease-out);
            pointer-events: none;
            opacity: 0;
            font-size: 1.2rem;
            color: #aaa;
            font-weight: 500;
            font-style: italic;
        }
        &:hover {
            figcaption {
                opacity: 1;
                pointer-events: all;
            }
        }
    }
    @include respond-tablet {
        margin-top: 2em;
    }
}

.pinned-bottom {
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
}

.main-section {
    position: relative;
    margin: 0 0;
    @include clearfix;

    > p {
        @include colspan(7)
    }

    .sub-section {
        @include display-flex;
        @include justify-content(space-between);
        padding: 2.5em 0;
        .content {
            @include colspan(4);
            @include order(2);
            padding: 0;
        }
        .media {
            @include colspan(7);
            @include order(1);
        }

        @include respond-tablet {
            display: block;
        }
    }

    @include respond-tablet {
        margin: 1.5em 0;
    }

    &.hidden {
        margin: 0;
        padding: 0;
        h2 {
            border-top: none;
            margin: .5em 0;
            padding: 0;
        }
        p {
            display: none;
        }
        .sub-section {
            display: none;
        }
    }
}
