/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 7, ../sass/_main.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 42, ../sass/_main.scss */
html {
  width: 100%;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  padding: 0 8em;
}
@media only screen and (max-width: 768px) {
  /* line 42, ../sass/_main.scss */
  html {
    padding: 0 6em;
  }
}
@media only screen and (max-width: 500px) {
  /* line 42, ../sass/_main.scss */
  html {
    padding: 0 2em;
  }
}

/* line 55, ../sass/_main.scss */
body {
  width: 100%;
  max-width: 850px;
  margin: 6em auto;
  font-size: 1.4rem;
  font-family: "Surveyor SSm A", "Surveyor SSm B", "Georgia", serif;
  font-weight: 300;
  color: #666666;
}
@media only screen and (max-width: 500px) {
  /* line 55, ../sass/_main.scss */
  body {
    margin: 4em auto;
  }
}

/* line 68, ../sass/_main.scss */
p {
  line-height: 1.6em;
  margin-bottom: 1.1em;
}
/* line 71, ../sass/_main.scss */
p a {
  color: #d62427;
  text-decoration: none;
}

/* line 77, ../sass/_main.scss */
.slideshow {
  -moz-transition: opacity 0.4s ease-out 0s;
  -o-transition: opacity 0.4s ease-out 0s;
  -webkit-transition: opacity 0.4s ease-out;
  -webkit-transition-delay: 0s;
  transition: opacity 0.4s ease-out 0s;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.96);
  opacity: 0;
  pointer-events: none;
}
/* line 92, ../sass/_main.scss */
.slideshow .prev-button, .slideshow .next-button, .slideshow .close-button {
  -moz-backface-visibility: none;
  -webkit-backface-visibility: none;
  backface-visibility: none;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  z-index: 3;
  position: absolute;
  display: block;
  text-decoration: none;
  width: 30px;
  height: 30px;
  top: 5%;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  line-height: 28px;
  opacity: .3;
  background-color: #ddd;
}
/* line 108, ../sass/_main.scss */
.slideshow .prev-button:before, .slideshow .next-button:before, .slideshow .close-button:before {
  color: #333;
  font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica", sans-serif;
}
/* line 112, ../sass/_main.scss */
.slideshow .prev-button:hover, .slideshow .next-button:hover, .slideshow .close-button:hover {
  opacity: .6;
}
/* line 115, ../sass/_main.scss */
.slideshow .prev-button:active, .slideshow .next-button:active, .slideshow .close-button:active {
  opacity: 1;
}
/* line 118, ../sass/_main.scss */
.slideshow .prev-button.disabled, .slideshow .next-button.disabled, .slideshow .close-button.disabled {
  opacity: .15;
  cursor: default;
}
/* line 121, ../sass/_main.scss */
.slideshow .prev-button.disabled:hover, .slideshow .prev-button.disabled:active, .slideshow .next-button.disabled:hover, .slideshow .next-button.disabled:active, .slideshow .close-button.disabled:hover, .slideshow .close-button.disabled:active {
  opacity: .15;
}
/* line 126, ../sass/_main.scss */
.slideshow .close-button {
  background-color: #aaa;
  font-size: 1.4rem;
  right: 40px;
}
/* line 130, ../sass/_main.scss */
.slideshow .close-button:before {
  content: 'x';
}
/* line 134, ../sass/_main.scss */
.slideshow .prev-button {
  right: 135px;
}
/* line 136, ../sass/_main.scss */
.slideshow .prev-button:before {
  content: "<";
}
/* line 141, ../sass/_main.scss */
.slideshow .next-button {
  right: 100px;
}
/* line 143, ../sass/_main.scss */
.slideshow .next-button:before {
  content: '>';
}
/* line 148, ../sass/_main.scss */
.slideshow .slide-count {
  position: absolute;
  top: 5%;
  height: 30px;
  text-align: right;
  line-height: 28px;
  right: 180px;
  width: 100px;
  font-size: 1.2rem;
  font-family: "Surveyor SSm A", "Surveyor SSm B", "Georgia", serif;
}
/* line 160, ../sass/_main.scss */
.slideshow figure {
  -moz-transition: -moz-transform 0s ease-in-out 0s;
  -o-transition: -o-transform 0s ease-in-out 0s;
  -webkit-transition: -webkit-transform 0s ease-in-out;
  -webkit-transition-delay: 0s;
  transition: transform 0s ease-in-out 0s;
  -webkit-flex: 0 0 80%;
  flex: 0 0 80%;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  margin: 2em 10%;
}
/* line 166, ../sass/_main.scss */
.slideshow figure:first-child {
  margin-left: 10%;
}
/* line 169, ../sass/_main.scss */
.slideshow figure:last-child {
  margin-right: 10%;
}
/* line 172, ../sass/_main.scss */
.slideshow figure img {
  display: block;
  width: auto;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 2em;
  max-height: 400px;
  padding-right: calc(100%*.5/12);
}
/* line 182, ../sass/_main.scss */
.slideshow figure figcaption {
  background-color: #eee;
  display: inline-block;
  padding: .5em .7em;
}
/* line 186, ../sass/_main.scss */
.slideshow figure figcaption p {
  font-size: 1.2rem;
  line-height: 1.4em;
  font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica", sans-serif;
  margin-bottom: 0;
}

/* line 197, ../sass/_main.scss */
.slideshow-mode .slideshow {
  opacity: 1;
  pointer-events: all;
}
/* line 200, ../sass/_main.scss */
.slideshow-mode .slideshow figure {
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

/* line 5, ../sass/pct.scss */
body {
  font-size: 1.4em;
}

/* line 9, ../sass/pct.scss */
header {
  margin: 10em 0 6em 0;
  clear: both;
}
@media only screen and (max-width: 500px) {
  /* line 9, ../sass/pct.scss */
  header {
    margin: 6em 0 3em 0;
  }
}
/* line 15, ../sass/pct.scss */
header .logo {
  float: right;
  width: 50px;
  margin-top: .7em;
}
@media only screen and (max-width: 768px) {
  /* line 15, ../sass/pct.scss */
  header .logo {
    display: none;
  }
}
/* line 23, ../sass/pct.scss */
header h1 {
  color: #111;
  font-family: "Surveyor SSm A", "Surveyor SSm B", "Georgia", serif;
  font-weight: 500;
  font-size: 3.4rem;
  line-height: 1.3em;
  text-transform: uppercase;
}
/* line 30, ../sass/pct.scss */
header h1 .subtitle {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.3em;
  display: block;
  text-transform: none;
  color: #999;
  margin-bottom: .5em;
}
@media only screen and (max-width: 500px) {
  /* line 23, ../sass/pct.scss */
  header h1 {
    font-size: 2.8rem;
  }
}

/* line 46, ../sass/pct.scss */
.intro {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  font-size: 1.3rem;
  margin-bottom: 6em;
}
@media only screen and (max-width: 768px) {
  /* line 46, ../sass/pct.scss */
  .intro {
    display: block;
    font-size: 1.4rem;
  }
}
/* line 58, ../sass/pct.scss */
.intro .meta {
  width: 25%;
  padding-right: 1em;
  margin-bottom: 4em;
  color: #008184;
  font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica", sans-serif;
  font-weight: 300;
}
@media only screen and (max-width: 768px) {
  /* line 58, ../sass/pct.scss */
  .intro .meta {
    width: 100%;
    padding-right: 0;
  }
}
/* line 64, ../sass/pct.scss */
.intro .meta em {
  font-weight: 600;
}
/* line 68, ../sass/pct.scss */
.intro .teaser {
  width: 66.66667%;
  padding-right: 1em;
  -moz-columns: 2;
  -webkit-columns: 2;
  columns: 2;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-style: italic;
}
@media only screen and (max-width: 768px) {
  /* line 68, ../sass/pct.scss */
  .intro .teaser {
    width: 100%;
    padding-right: 0;
  }
}
@media only screen and (max-width: 768px) {
  /* line 68, ../sass/pct.scss */
  .intro .teaser {
    -moz-columns: 1;
    -webkit-columns: 1;
    columns: 1;
  }
}

/* line 81, ../sass/pct.scss */
.chapter-heading {
  margin-bottom: 6em;
  margin-top: 2em;
  border-bottom: 1px solid #555;
  clear: both;
}
/* line 86, ../sass/pct.scss */
.chapter-heading h1 {
  position: relative;
  top: 1.5em;
  display: inline-block;
  background-color: #fff;
  padding: 0 1em 1em 0;
  font-weight: 500;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #111;
}
@media only screen and (max-width: 768px) {
  /* line 81, ../sass/pct.scss */
  .chapter-heading {
    margin-bottom: 3em;
  }
  /* line 101, ../sass/pct.scss */
  .chapter-heading h1 {
    display: block;
    position: static;
  }
}

/* line 108, ../sass/pct.scss */
.passage {
  padding-bottom: 4em;
  clear: both;
}
/* line 113, ../sass/pct.scss */
.passage > p {
  font-size: 1.5rem;
}
/* line 117, ../sass/pct.scss */
.passage .media {
  margin-top: 2em;
  margin-bottom: 2em;
}
/* line 122, ../sass/pct.scss */
.passage .media figure:not(:first-of-type) {
  margin-top: 2em;
}
/* line 125, ../sass/pct.scss */
.passage .media figure img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 1em;
}
/* line 132, ../sass/pct.scss */
.passage .media figure figcaption {
  margin-top: .5em;
  padding-top: .5em;
  font-size: 1rem;
  position: relative;
  line-height: 1.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica", sans-serif;
  color: #008184;
  font-weight: 400;
}
/* line 144, ../sass/pct.scss */
.passage .media figure figcaption:before {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 50px;
  border-top: 1px solid #ddd;
}
/* line 156, ../sass/pct.scss */
.passage .width-one-fourth {
  width: calc(100%*3/12);
  padding-right: 2em;
}
/* line 160, ../sass/pct.scss */
.passage .width-three-fourths {
  width: calc(100%*9/12);
  padding-right: 2em;
}
/* line 164, ../sass/pct.scss */
.passage .width-one-third {
  width: calc(100%*4/12);
  padding-right: 2em;
}
/* line 168, ../sass/pct.scss */
.passage .width-two-thirds {
  width: calc(100%*8/12);
  padding-right: 2em;
}
/* line 172, ../sass/pct.scss */
.passage .width-one-half {
  width: calc(100%*6/12);
  padding-right: 2em;
}
/* line 176, ../sass/pct.scss */
.passage .width-one-whole {
  width: 100%;
  padding-right: 2em;
}
/* line 181, ../sass/pct.scss */
.passage .float-left {
  float: left;
}
/* line 184, ../sass/pct.scss */
.passage .float-right {
  float: right;
}
/* line 187, ../sass/pct.scss */
.passage > p {
  margin-left: calc(100%*4/12);
}
/* line 191, ../sass/pct.scss */
.passage .float-left.width-one-third, .passage .float-left.width-one-fourth {
  margin-top: .5em;
}
@media only screen and (max-width: 768px) {
  /* line 196, ../sass/pct.scss */
  .passage p {
    margin-left: 0;
  }
  /* line 200, ../sass/pct.scss */
  .passage .width-one-fourth, .passage .width-one-third, .passage .width-one-half, .passage .width-two-thirds, .passage .width-three-fourths, .passage .width-one-whole {
    width: 100%;
    padding-right: 0;
  }
  /* line 204, ../sass/pct.scss */
  .passage .float-left, .passage .float-right {
    float: none;
  }
}

/* line 210, ../sass/pct.scss */
.img_pct_full_route {
  width: 130px;
}

/* line 214, ../sass/pct.scss */
.img_socal_charts {
  width: 240px;
}
